*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
}

.container{
    background-color: white;
    display: flex;
    margin: 8rem 0 0 0;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1rem;
    
}

.header h1{
    margin: 2.5rem 0 1rem 0 ;
}

.header p{
    font-size: 0.7rem;
    margin-bottom: 1rem;
    width: 90%;
}

.list-item ul{
    list-style: none;
}

.list-one-icon{
    display: flex;
    margin-bottom: 0.6rem;
    font-size: 0.7rem;
}

.list-one-icon img{
    width: 0.8rem;
    margin-right: 0.5rem;
}

.send-letter form{
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    /* margin: 20px; */
}

.send-letter label{
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
}

.send-letter input{
    padding: 0.5rem;
    width: 85%;
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
    border-radius: 0.2rem;  
    border-style: none;
    border: 1px solid gray;
}

.send-letter input::placeholder{
    font-size: 0.6rem;
    color: grey;
}

.send-letter button{
    width: 85%;
    border-style: none;
    background-color: hsl(234, 29%, 20%);
    padding: 0.6rem;
    border-radius: 0.3rem;
    color: white;
    font-size: 0.6rem;
}

.signup-img{
    background-image: url(./images/illustration-sign-up-desktop.svg);
    background-size: cover;
    width: 15rem;
    height: 22rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
    body{
        display: flex;
        justify-content: center;
        background-color: white;
        color: hsl(234, 29%, 20%);
    }

    .container{
        background-color: white;
        display: flex;
        flex-direction: column-reverse;
        /* margin: 8rem 0 0 0; */
        /* padding: 0 0 2rem 2rem; */
        /* border-radius: 1rem; */
        
    }

    .signup-img{
        background-image: url(./images/illustration-sign-up-mobile.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        max-height: 100%;
        width: 24rem;
        height: 20rem;
        

    }

    .first-part{
        margin: auto;
    }
}